.section-about {
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
 }

 .section-about > .container {
	-webkit-align-self: center;
	-moz-align-self: center;
	-ms-align-self: center;
	align-self: center;
}

.section-about .col {
	padding-left: 30px;
	padding-right: 30px;
}

.section-about h2 {
	border-bottom: 1px solid #4EBAC4;
	padding-bottom: 33px;
	font-size: 37px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 33px;
	color: black;
	text-transform: uppercase;;
}

.section-about p {
	font-size: 18px;
	line-height: 22px;
	font-weight: 300;
	text-align: center;
}