.section-contact {
	position: relative;
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
  	padding-bottom: 100px;
}

.section-contact > .container {
	-webkit-align-self: center;
	-moz-align-self: center;
	-ms-align-self: center;
	align-self: center;
}

.section-contact .avatar {
	max-width: 100%;
}

.section-contact .avatars {
}

.section-contact h1 {
	font-size: 30px;
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 16px;
}

.section-contact p.contact {
	font-size: 16px;
	font-weight: 300;
}

.section-contact p.description {
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	margin-top : 40px;
	text-align: center;
}

.section-contact .footer {
	background: #252A2B;
	color: white;
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align:center;
	padding: 20px;
}

.section-contact a {
	color: #4EBAC4;
}

.section-contact .footer a {
	color: white;
}

.section-contact .footer a:hover {
	text-decoration: underline;
}
