.splash .arrow-down {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 27px 44px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transform: rotate(-90deg);
	-webkit-filter: blur(1px);
	-webkit-animation: pulse 2s ease-in;
	-webkit-animation-iteration-count: infinite; 
	position: absolute;
	bottom: 50px;
	left: 50%;
	width: 27px;
	height: 44px;
	margin-left: -13.5px;
	z-index: 90;
	cursor: pointer;
}

.splash .arrow-down:after {
	content: "";
	position: absolute;
	width: 400%;
	height: 400%;
	top: -150%;
	left: -150%;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: rotate(-90deg) scale(1);

	}
	50% {
		-webkit-transform: rotate(-90deg) scale(0.8);

	}
	100% {
		-webkit-transform: rotate(-90deg) scale(1);

	}
}

@-webkit-keyframes pulsate {
    0% {
    	-webkit-transform: rotate(-90deg) scale(0.8, 0.8); 
    	opacity: 0.5;
    }
    50% {
    	opacity: 1.0;
    }
    100% {
    	-webkit-transform: rotate(-90deg) scale(1.2, 1.2); 
    	opacity: 0.5;
    }
}

.splash {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
}

.splash .details, 
.splash .intro {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: auto;
	width: 100%;
	height: 100%;
	z-index: 100;

	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	background: center center no-repeat;
	background-size: cover;
	-webkit-animation-duration: 1s;
  	-webkit-animation-delay: 0s;
  	
  	background-color: #25282b;
}

.splash .intro {
	background-color: transparent;
}

.splash .details .container {
	position: relative;
	z-index: 120;
}

.splash .details:after {
	content: "";
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 110;
	opacity: 1;
	
}

.splash .details h1 {
	font-size: 3.5em;
	color: white;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: 100;
	letter-spacing: 3px;
	z-index: 120;
	-webkit-animation-duration: 1500ms;
  	-webkit-animation-delay: 1s;
}

.splash .intro img {
	display: block;
	margin: 0px auto 40px auto;
}

.splash .intro h1 {
	font-size: 2em;
	color: white;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 3px;
	line-height: 2.7em;
}

.splash .intro h1 span {
	padding: 15px;
	margin: 0px;
	background: rgba(37, 40, 43, 0.8);
	line-height: auto;
	font-weight: 200;
	position: relative;
}

.splash .intro h1 span:first-child {
	left: -20px;
}

.splash .intro h1 span:not(:first-child) {
	left: 20px;
}


.splash .swiper-container {
	width: 100%;
	height: 100%;
}

.splash .swiper-slide {
	background: center center;
	background-size: cover;
}

.splash .splash-1  {
	background-image: url(../resources/splash-1.jpg);
}

.splash .splash-2  {
	background-image: url(../resources/splash-2.jpg);
}

.splash .splash-3  {
	background-image: url(../resources/splash-3.jpg);
}