html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Raleway', serif;
    padding-top: 0px;
}

header {
    position: relative;
    width: 100%;
    height: 100%;
}

header .splash {
    background: url(../img/bg-splash.jpg) center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: auto;
    background-attachment: fixed;
    text-align:center;
    font-size: 0;
}

header .splash:after {
    content: '';
    height: 100%;
    display:inline-block;
    vertical-align:middle;
    background: red;
}

header .splash .inner {

    display: inline-block;
    vertical-align: middle;
    padding: 30px 90px;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.45);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05)); /* Standard syntax */
    color: white;
}

header .splash .inner h1 {
    margin-top: 0px;
}

header .splash .inner p {
    margin-bottom: 0px;
}


main, footer, header {
    position: relative;
    z-index: 4;
}

body, a, a:hover, a:visited, a:active, a:focus {
    color: #414753;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Museo', serif;
}

nav {
    z-index: 5;
    margin-bottom: 0px !important;
}

nav.affix {
    width: 100%;
    top: 0px;
    left: 0px;
}

nav.affix + main {
    margin-top: 90px;
}

nav .navbar-brand {
    padding: 15px; 
    height: 90px;
}

nav .navbar-brand img {
    max-height: 100%;
}

nav ul.nav a {
    padding: 35px 15px;
}

nav .navbar-toggle {
    margin-top: 28px;
    margin-bottom: 28px;
}

nav ul.nav li.lang {
    margin-left: 40px;
}

main {
    background: url(../img/bg-pattern-02.jpg) repeat top left white;
}

section {
    padding: 50px 0px;
}

section > h1, section > h2 {
    margin-top: 0px;
    margin-bottom: 0px;

}

section > h2 + *:not(.lead), section > h2 + p.lead + * {
    margin-top: 50px !important;
}

section.projects {
    padding: 0px;
}

section.contact {
    background: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .075)
}

section.contact .send-button-special {
    margin-top: 99px;
}

section.team img {
    border: 20px white solid;
    border-radius: 200px;
    margin-bottom: 50px;
    max-width: 100%;
}

section.team .container h3, section.team .container p {
    margin: 0px;
}

section.customers a {
    font-weight: bold;
}

footer {
    background: rgba(33,35,36,1);
}

footer *:not(.heart) {
    color: #969898 !important;
}

footer hr { 
    border-width: 1px;
    border-color: #969898;
    height: 0px;
    margin-bottom: 50px;
}

footer a.social {
    margin-right: 20px;
}

footer .wp-posts {
    margin-bottom: 30px;
}

footer .wp-posts .post img {
    display: inline-block;
    width: auto;
    max-width: 33%;
    height: 300px;
    object-fit: cover;
}

footer .wp-posts .post {
    margin: 0px 8px;
}

.quote-sign {
    font-size: 50px !important;
    height: 20px;
}

@media only screen and (max-width: 768px) {

    nav ul.nav a {
        padding: 10px 15px !important;
    }

    nav ul.nav li.lang {
        margin-left: 0px !important;
    }

    nav ul.nav a span {
        display:inline !important;
    }
    section.contact .send-button-special {
        margin-top: 0px !important;
    }
    section.team div:not(:first-child) > img {
        margin-top: 70px;
    }
    footer .wp-posts .post {
        display: block;
        margin: 15px 0px;
    }
    footer .wp-posts .post img {
        width: 100%;
        height: auto;
        max-height: auto;
        max-width: 100% !important;
    }

    footer .copyright {
        margin-top: 50px;
        margin-bottom: 25px;
        border-top: 0.5px solid white;
        border-bottom: 0.5px solid white;
        padding: 25px 0px 15px 0px;
    }
}